################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ConnectionBridge/.vs/ConnectionBridge/v15
/ConnectionBridge/ConnectionBridgeClient/ConnectionBridgeClient/obj
/ConnectionBridge/ConnectionBridgeClient/ConnectionBridgeClient/bin/Debug
/ConnectionBridge/ConnectionBridgeClient/GPSTest/GPSTest
/ConnectionBridge/ConnectionBridgeClient/TestClient
/ConnectionBridge/ConnectionBridgeServer
/ConnectionBridge/Framework
/ConnectionBridge/MySqlDBConnection/obj
/ConnectionBridge/MySqlDBConnection/bin/Debug
