<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>

    <!--<add key="appid" value="ts001"/>
    <add key="apptype" value="client"/>
    <add key="authtoken" value="100st"/>-->

    <add key="HexaDictionary" value="F:\Development\DenyoConnectionBridge\ConnectionBridge\ConnectionBridgeClient\ConnectionBridgeClient\HBook.txt"/>

    <add key="LCPort" value="COM1"/>
    <add key="LCPBaud" value="1900"/>

    <add key="RServer" value="localhost"/>
    <add key="RSPort" value="9000"/>

    <add key="LoopTime" value="200"/>
    
    
    <!--  Server -->

    <add key="appid" value="ts001"/>
    <add key="apptype" value="Server"/>
    <add key="authtoken" value="100st"/>
    
    <add key="SLPort" value="9000"/>
    <add key="IsHeartBeatActive" value="False"/>

  </appSettings>
</configuration>